[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "*"
flask-sqlalchemy = "*"
gevent = "*"
pymysql = "*"
flask-cors = "*"
aiohttp = "*"
requests = "*"
python-dotenv = "*"
flask = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.16"
